
  .aboutTitle{
    text-align: center;
    margin-top: 50px; 
    margin-left: 0px;
    margin-right:0px;
    font-size:25px;    
    display: flex;
    background-color: rgb(247, 247, 247);
    padding-bottom: 80px;
    padding-top: 100px;
    padding-left: 20px;
  }

  .image {  
    border-radius: 5px; 
    margin-top: 20px;
  }

  .title2{
    text-align: center;
    margin-top: 70px; 
    margin-bottom: 50px;
    margin-left: 80px;
    margin-right: 80px;
    font-size:40px;
    font-weight: bold;
  }

  .colorTitle{
    color: #990000; 
  }

  .aboutText{
    margin-top: 30px; 
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
    font-size:20px;
    text-align: justify;
    line-height: 1.5;
    color: black;

  }


  .pdfContainer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 60px; 
    padding-bottom: 40px;
    margin-left: 65px;
    margin-right: 65px;
  }

  .pdfContainer2 {
    display: flex;
    justify-content:center; 
    align-items: center; 
    margin-top: 20px; 
    padding-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .pdfContainer2 a {
    text-decoration: none;
    margin:20px; 
  }
  
  .pdfContainer a {
    text-decoration: none;
    margin:3px; 
  }

  @media(max-width: 1300px) {
    .pdfContainer {
      display: flex;
      justify-content: space-between; 
      align-items: center; 
      margin-top: 20px; 
      padding-bottom: 70px;
      margin-left: 30px;
      flex-direction: column;
      margin-right: 30px;
    }

    .pdfContainer a {
      text-decoration: none;
      margin:10px; 
    }

    .pdf{
      width: 400px;
      height: 300px;
    }

    .pdf2{
      width: 300px;
      height: 400px;
    }

  }

  @media (max-width: 1200px) {
    
    .pdfContainer {
      padding-bottom: 10px;
    
    }
    
    .aboutTitle{
      text-align: center;
      margin-top: 50px; 
      margin-left: 0px;
      margin-right:0px;
      font-size:20px;    
      display: flex;
      background-color: rgb(247, 247, 247);
      padding-bottom: 80px;
      padding-top: 100px;
      padding-left: 20px;
    }

    .image {  
      border-radius: 5px; 
      margin-top: 20px;
      margin-bottom: 30px;
      flex-direction: column;
    }
    
    .aboutText{
      margin-top: 30px; 
      margin-bottom: 30px;
      margin-left: 80px;
      margin-right: 80px;
      font-size:18px;
      text-align: justify;
      line-height: 1.5;
      color: black;
  
    }

    .aboutTitle{
      flex-direction: column;
    }

    .pdf{
      width: 400px;
      height: 300px;
    }

    .pdf2{
      width: 300px;
      height: 400px;
    }

  }


  @media (min-width: 300px) and (max-width: 650px) {

    

    .image {  
      border-radius: 5px; 
      margin-top: 20px;
      margin-bottom: 30px;
      flex-direction: column;
      width: 300px;
      height: 300px;
   
    }


    .aboutTitle{
      display: flex;
      justify-content: space-between; 
      align-items: center; 
      font-size:14px;    
      text-align: center;
      margin-top: 30px; 
      margin-left: 0px;
      margin-right:0px;     
      background-color: rgb(247, 247, 247);
      padding-bottom: 40px;
      padding-top: 100px;
      padding-left:0px;
    }


    .aboutText{
      margin-top: 20px; 
      margin-bottom: 20px;
      margin-left: 30px;
      margin-right: 30px;
      font-size:13px;
      text-align: justify;
      line-height: 1.5;
      color: black;
  
    }

    .title2{
      font-size: 25px;
      margin-top: 30px; 
      margin-bottom: 30px;
    }


    .pdf{
      width: 300px;
      height: 200px;
    }

    .pdf2{
      width: 200px;
      height: 300px;
    }
    
    .pdfContainer2{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .pdfContainer {
      padding-bottom: 10px;
    
    }


  }