
.carouselContainer {
  margin-top: 110px;
}

.imageContainer {
  position: relative;
  overflow: hidden; 

}

.imageOverlay {
  position:relative;
}

.images{
  width: 2000px;
  height: 700px;
}

.descriptionOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; 
  font-size: 140px; 
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}



.customNextArrow,
.customPrevArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 120px;
  color:white; 
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: color 0.3s ease;
}

.customNextArrow:hover,
.customPrevArrow:hover {
  color: #990000; 
}

.customNextArrow::before,
.customPrevArrow::before {
  font-family: 'Arial', sans-serif; 
}



.customNextArrow {
  right: 10px;
}

.customPrevArrow {
  left: 10px;
  z-index: 1; 
}

@media (max-width: 1200px) {

  .descriptionOverlay {
    font-size:110px;  ;
  }

}


@media (min-width: 601px) and (max-width: 992px) {
  .descriptionOverlay {
    font-size:70px;  ;
  }

  .images{
    width: 810px;
    height:600px;
  }

}

@media (min-width: 300px) and (max-width:601px) {

  .descriptionOverlay {
    font-size:32px;  
  }

  .images{
    width: 450px;
    height:250px;
  }
  
  .customNextArrow,
  .customPrevArrow {
    top: 50%;
    transform: translateY(-50%);
    font-size: 5px;
    padding: 2px;
  }
 
  .customNextArrow:hover,
  .customPrevArrow:hover {
  color: #990000 !important; 
}

}