@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');

.carouselContainer {
  margin-top: 76px;
  overflow-x: hidden;
  width: 100%;
}

.imageContainer {
  position: relative;
  overflow: hidden; 
  width: 100%;
}

.imageOverlay {
  position: relative;
}


.imageOverlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
  z-index: 1;
}

.images {
  width: 100%;
  height: 615px;
  object-fit: cover;
}

.descriptionOverlay {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; 
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
  z-index: 2;
  padding: 0 15px;
  max-width: 100%;
}

.descriptionOverlay h1 {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  line-height: 1.1;
}

.descriptionOverlay p {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  margin: 10px 0 20px;
}

.ctaButton {
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ctaButton:hover {
  background-color: #0077B6;
}



@media (max-width: 1200px) {
  .descriptionOverlay h1 { font-size: 60px; }
}

@media (max-width: 992px) {
  .descriptionOverlay h1 { font-size: 42px; }
  .descriptionOverlay p { font-size: 18px; }
}

@media (max-width: 600px) {

  .images{
    width: 100%;
    height:260px;
  }
  
  .descriptionOverlay {
    top: 60%; 
    transform: translate(-50%, -50%);
    padding: 0 10px;
  }

  .imageOverlay::after {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.8)
    );
  }

  .descriptionOverlay h1 { 
    font-size: 18px;
    line-height: 1.2;
  }

  .descriptionOverlay p { 
    font-size: 12px; 
    margin: 5px 0 10px;
  }

  .ctaButton {
    padding: 8px;
    font-size: 12px;
  }

  
.carouselContainer {
  margin-top: 60px;
}

}
