
.twoColumnsContainer {
  display: flex;
  padding: 20px;
  margin-top: 180px;
  margin-bottom: 40px;
}

.image {
  border-radius: 5px; 
}

.bn39 {
  background-color:transparent;
  box-sizing: border-box;
  color: rgb(13, 37, 54);
  display:flex;
  height: 35px;
  font-size: 1.4em;
  font-weight: 600;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 8em;
  border: 2px solid rgb(13, 37, 54);
  align-items: center;
}

.bn39:hover {
  color:#990000;
  border: 2px solid #990000;
}

.title{
  text-align: center;
  margin-bottom: 50px;
  font-size:55px;
  font-weight: bold;
}

.title:hover{
  color:#990000;
}

.iconBox{
  font-size: large;
}

.textColumn {
  padding-left: 40px;
  padding-right: 40px; 
}

.contactSection {
  flex-direction: column; 
  align-items: flex-start;  
  margin-left: 20px;
  color: black;

}

.iconBoxTitle2{
  margin-left: 45px;
  font-size: medium;
  font-weight: lighter;
  color: black;
}

.bn39 .bn39span {
  align-items: center;
  background: transparent;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.bn39:hover .bn39span {
  background: transparent;
}

.iconBoxTitle{
  margin-left: 30px;
  font-size: medium;
  font-weight: lighter;
  text-decoration: none;
  color: black;
}

.btnSection{
  margin-top: 50px;
  text-align: justify;  
  margin-bottom: 10px;
  line-height: 1.5;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
