
.twoColumnsContainer {
  display: flex;
  margin-top: 110px;
  background-color: rgb(247, 247, 247);
}

.image {
  border-radius: 5px; 
}


.bn39 {
  background-color:transparent;
  box-sizing: border-box;
  color: rgb(13, 37, 54);
  display:flex;
  height: 35px;
  font-size: 1.4em;
  font-weight: 600;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 8em;
  border: 2px solid rgb(13, 37, 54);
  align-items: center;
}

.contactSection:hover {
  color:#990000;
}


.title{
  text-align: center;
  margin-bottom: 60px;
  margin-top: 70px;
  font-size:55px;
  font-weight: bold;
  color:#990000;
}


.textColumn {
  padding-left: 40px;
  padding-right: 40px; 
}

.contactSection {
  flex-direction: column; 
  align-items: flex-start;  
  margin-left: 20px;
  color: black;
  margin-bottom:36px;
}

.contactSection2 {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 0.001rem; 
}


.iconBoxTitle2{
  font-size: medium;
  color: black;
  font-weight: 500; 
  display: inline-flex; 
  margin-left: 32px;
  align-items: center;
  text-align: justify;
  margin-bottom: 25px;
  width: 75%;
}

.iconBoxTitle5{
  font-size: medium;
  color: black;
  font-weight: 500; 
  display: inline-flex; 
  margin-left: 45px;
  align-items: center;
  text-align: justify;
  margin-bottom: 25px;
  width: 75%;
}

.iconBoxTitle4{
  margin-left: 30px;
  font-size: medium;
  color: black;
  font-weight: 500; 
  text-align: justify;
  display: inline-flex; 
  align-items: center;
  width: 75%;
  margin-bottom: 25px;
}

.bn39 .bn39span {
  align-items: center;
  background: transparent;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.bn39:hover .bn39span {
  background: transparent;
}

.iconBoxTitle{
  margin-left: 30px;
  font-size: medium;
  font-weight: 500;
  color: black;
  margin-bottom: 25px;
}


.btnSection{
  margin-top: 30px;
  text-align: justify;  
  margin-bottom: 10px;
  line-height: 1.5;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1200px){
 
  .contactSection i {
    margin-bottom: 20px;
   
  }
  .iconBoxTitle{
    text-align: justify;
  }
   
  .iconBoxTitle2{
    font-size: medium;
    color: black;
    font-weight: 500; 
    display: inline-flex; 
    margin-left: 30px;
    align-items: center;
    text-align: justify;
    width: 75%;
  }
  
  .iconBoxTitle4{
    margin-left: 30px;
    font-size: medium;
    color: black;
    font-weight: 500; 
    text-align: justify;
    width: 75%;
    margin-top: 0px;
  }
  
  .iconBoxTitle3{
    margin-left: 45px;
    font-size: medium;
    color: black;
    font-weight: 500; 
  }

  .title{
    text-align: center;
    margin-bottom: 60px;
    margin-top: 70px;
    font-size:45px;
    font-weight: bold;
    color:#990000;
  }
 

}


@media (min-width: 300px) and (max-width: 700px){

  .twoColumnsContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .title{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size:35px;
    font-weight: bold;
    color:#990000;
  }

  .contactSection{
    font-size: 15px;
  }


}