
.barra {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:white;
  padding: 0 auto;
  text-align: center;
  z-index: 1000; 
  box-shadow:  5px 5px 10px #d0d0d0,-5px -5px 10px #f0f0f0;
 
}

.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.rightItems {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-right: 20px;
  font-weight: bold;
}

.navegacion a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem;
  transition-property: background-color;
  transition-duration: 300ms;
}


.logo {
  text-decoration: none;
  margin-left: 10px;

}


.itemsColor:hover {
  color: #990000; 
}


.menuButton {
  display: none; 
}

@media (min-width: 300px) and (max-width: 600px) {
  .navegacion {
    display: flex;
  }

  .rightItems {
    display: none; 
  }

  .rightItems.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; 
    left: 0;
    width: 100%;
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
  }

  .itemsColor {
    color: black; 
  }

  .itemsColor:hover {
    color: #990000;
  }

  
  .menuButton {
    display: block;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 10px;
  }
}
