.mapouter {
  height: 100vh; 
  display: flex;
  flex-direction: column;
  overflow: hidden;
  }
  
  .gmap_canvas {
    height: 100%; 
    width: 100%;
    position: relative;
    border: none
    }

  