

.twoColumnsContainer {
  display: flex;
  margin-top: 40px;
}

.column {
  padding:30px;
  margin-left: 40px; 
}

.image {
  border-radius: 2px; 
}

.icon {
  font-size: 3em; 
  margin: 0;  
  color:rgb(183, 16, 16); 
}


.textColumn {
  padding: 20px; 
  color: black;
  margin: 0 auto;
}


.text {
  font-size:22px;
  text-align: justify;
  margin-right: 30px;
  margin-bottom: 65px;
  line-height: 1.5;
}


.title{
  margin-top: 180px;
  text-align: center;
  font-size: 30px;
}


.title2{
  text-align: justify;
  margin-top: 85px;
  margin-bottom: 40px;
  font-size: 30px;
  margin-left: 50px;
   color: #990000; 
}

