

.twoColumnsContainer {
  display: flex;
  margin-top: 10px;
}

.column {
  padding: 30px;

}

.image {
  border-radius: 2px; 
}

.icon {
  font-size: 3em; 
  margin: 0;  
  color:rgb(183, 16, 16); 
}


.textColumn {
  padding: 20px; 
  color: black;
  margin: 0 auto;
}


.text {
  font-size:22px;
  text-align: justify;
  margin-right: 30px;
  margin-bottom: 65px;
  line-height: 1.5;
}


.title{
  margin-top: 170px;
  text-align: center;
  font-size: 35px;
}


.title2{
  text-align: justify;
  margin-top: 35px;
  margin-bottom: 40px;
  font-size: 30px;
  margin-left: 50px;
   color: #990000; 
}


@media only screen and (max-width: 992px) {
  .title2{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 30px;
    margin-right: 40px;
    font-size: 25px;
    margin-left: 50px;
     color: #990000; 
  }

  .text {
    font-size:18px;
    text-align: justify;
    margin-right: 30px;
    margin-bottom: 65px;
    line-height: 1.5;
    margin-left: 20px;
  }

}