.section {
  padding: 2rem 0;
}

.title {
  margin-top: 170px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  color: #990000;
}

.text {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 50px;
  margin-top: 40px;
  line-height: 1.6;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: #222;
}

.row {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.imageWrapper {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.imageWrapper:hover {
  transform: scale(1.02);
}

.image {
  border-radius: 8px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .title {
    margin-top: 100px;
    font-size: 24px;
  }

  .text {
    font-size: 18px;
    padding: 0 1rem;
    text-align: justify;
  }
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .title{
    font-size: 17px;
    margin-top: 120px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .text{
    font-size: 13px;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
  }

  .imageWrapper {
    width: 80%;
  }

  .image {
    height: auto;
    width: 100%;
  }
}
